@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@1,400;1,700&display=swap");

/* Basic css reset style */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.25%;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
}

a {
  cursor: pointer;
}
html,
body {
  height: 100%;
}

/* font setting */

h1,
h2,
h3 {
  font-family: "Merriweather", serif;
}

/* card content setting */

.blog-container {
  max-width: 860px;
  margin: 0 auto;
}
.blog-wrapper {
  width: 88%;
}

/* .blog-post-container {
  margin-top: 100px;
} */

/* Card flex box */
.card-flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* Header Setting */
.blog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog-header-link,
.fa-magnifying-glass {
  /* padding-left: 10px; */
  color: #999;
}
.fa-magnifying-glass {
  padding-right: 10px;
}

.blog-header-link {
  padding-left: 10px;
}

/* Card Style; */

h2 {
  margin-bottom: 0;
  margin-top: 5px;
}

.card {
  border: 4px solid #ddd;
  width: 36rem;
  margin-bottom: 30px;
}

.card-body {
  padding-left: 20px;
}
.card-header {
  font-weight: 600;
}
.card-title {
  font-weight: 700;
  color: #3379b3;
  margin-top: 20px;
  margin-bottom: 10px;
}
.card-date {
  color: #888;
  margin: 0;
  padding: 0;
}
.card-link {
  font-weight: 400;
  color: #3379b3;
  display: block;
  margin-bottom: 30px;
}
.card-text {
  color: #333;
  margin-top: 10px;
  margin-bottom: 50px;
}

.card-text,
.card-title,
.card-link,
.card-date,
.footer-content,
.footer-link,
.blog-post-para,
.aside-link {
  font-size: 1.4rem;
}

.card-title-color {
  color: green;
}

/* footer content */
.footer-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgb(242, 242, 242);
  color: #999;
  padding: 20px 0;
  border-top: 1.5px solid #ddd;
}

.footer-link {
  color: #3379b3;
}

/********************** Blog Post article ******************/
section.blog-post-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* flex-direction: ; */
}

.blog-post-content {
  flex: 2;
  margin-right: 30px;
}

.blog-post-aside {
  flex: 1;
}

.aside-link {
  display: block;
  color: #3379b3;
  padding-bottom: 5px;
}

.blog-post-date {
  font-size: 1.2rem;
  color: #888;
  margin: 0;
  padding-top: 5px;
}

.blog-post-link {
  color: #3379b3;
}

.blog-post-para {
  color: #555;
  line-height: 2rem;
}

.aside-links-header {
  font-style: italic;
  font-family: "PT Serif", serif;
  margin-bottom: 5px;
}

.aside-about-container {
  background-color: rgb(244, 244, 244);
  padding: 10px 15px;
}

.aside-article {
  margin-top: 0;
}
.aside-article-para {
  margin: 0;
}

hr {
  border-top: 1px solid rgb(240, 239, 239);
}

.blog-para-outline {
  border: 2px solid rgb(240, 239, 239);
  padding: 10px;
}

.blog-button {
  border-radius: 30px;
  padding: 5px 15px;
  margin: 20px 0 40px 0;
  background-color: white;
  color: #ccc;
  border: 2px solid #ccc;
}

.blog-button-avtive {
  background-color: white;
  color: #3379b3;
  border: 2px solid #3379b3;
}

.aside-archives-container,
.aside-elsewhere-container {
  padding: 10px 15px;
}
.blog-heading-para {
  margin-top: 5px;
}
.blog-post-subheading {
  margin-bottom: 0;
}
.blog-sub-para {
  margin-top: 5px;
}
